Torso		0		0		0
LHip		0		lle1	0
LThigh		lle3	0		lle2
LLeg		lle4	0		0
LFoot		lle5	lle6	0
LToes		0		0		0
RHip		0		rle1	0
RThigh		rle3	0		rle2
RLeg		rle4	0		0
RFoot		rle5	rle6	0
RToes		0		0		0
Neck		0		he1		0
Head		he2		0		0
LUpperarm	lae1	0		lae2
LLowerarm	0		lae3	lae4
LHand		0		0		0
RUpperarm	rae1	0		rae2
RLowerarm	0		rae3	rae4
RHand		0		0		0
