Torso		0		0		0
LHip1		0		lle1	0
LHip2		0		lle2	0
LHip3		lle3	0		0
LThigh		0		0		0
LLeg		lle4	0		0
LFoot		lle5	lle6	0
RHip1		0		rle1	0
RHip2		0		rle2	0
RHip3		rle3	0		0
RThigh		0		0		0
RLeg		rle4	0		0
RFoot		rle5	rle6	0
Neck		0		he1		0
Head		he2		0		0
RUpperarm	lae1	0		lae2
RLowerarm	0		lae3	lae4
LUpperarm	rae1	0		rae2
LLowerarm	0		rae3	rae4
