Torso			0		0		0	
LHip1			0		LLe1	0
LHip2			0	 	LLe2	0
LHip3			LLe3	0		0
LThigh			0		0		0
LLeg			LLe4	0		0
LFoot			LLe5	LLe6 	0 	
RHip1			0		RLe1	0
RHip2			0	 	RLe2	0
RHip3			RLe3	0		0
RThigh			0		0		0
RLeg			RLe4	0		0
RFoot			RLe5	RLe6 	0	
Neck			0		He1		0	
Head			He2		0		0	
RUpperarm		LAe1	0		LAe2	
RLowerarm		0		LAe3 	LAe4	
LUpperarm		RAe1	0		RAe2
LLowerarm		0		RAe3	RAe4
