Torso		0		0		0
LHip		0		lle1	0
LThigh		lle2	0		lle3
LLeg		0		0		lle4
LFoot		0		lle6	lle5
LToes		0		0		0
RHip		0		rle1	0
RThigh		rle2	0		rle3
RLeg		0		0		rle4
RFoot		0		rle6	rle5
RToes		0		0		0
Neck		0		he1		0
Head		0		0		he2
LUpperarm	lae2	0		lae1
LLowerarm	lae4	lae3	0
LHand		0		0		0
RUpperarm	rae2	0		rae1
RLowerarm	0		rae3	rae4
RHand		0		0		0
