Torso			0		0		0	
TorsoExt		0		0		0	
LHip			0		0		0
LeftThigh		EFF_LL3	0		EFF_LL2
LeftLeg			EFF_LL4	0		0
LeftFoot		0		EFF_LL6 EFF_LL5	
RHip			0		0		0
RightThigh		EFF_RL3	0		EFF_RL2
RightLeg		EFF_RL4	0		0
RightFoot		0		EFF_RL6 EFF_RL5
Neck			0		EFF_H1	0	
Head			EFF_H2	0		0	
RightUpperarm	0		EFF_LA2 EFF_LA1	
RightLowerarm	EFF_LA4	EFF_LA3 0	
LeftUpperarm	0		EFF_RA2 EFF_RA1
LeftLowerarm	EFF_RA4	EFF_RA3	0
