Torso			0		0		0	
TorsoExt		0		0		0	
LHip			0		0		0
LeftThigh		EFF_LL3	0		EFF_LL2
LeftLeg			EFF_LL4	0		0
LeftFoot		EFF_LL5	EFF_LL6 0
RHip			0		0		0
RightThigh		EFF_RL3	0		EFF_RL2
RightLeg		EFF_RL4	0		0
RightFoot		EFF_RL5	EFF_RL6 0
Neck			0		EFF_H1	0	
Head			EFF_H2	0		0	
LeftUpperarm	EFF_RA1	0		EFF_RA2
LeftLowerarm	0		EFF_RA3	EFF_RA4
RightUpperarm	EFF_LA1	0		EFF_LA2 
RightLowerarm	0		EFF_LA3	EFF_LA4
