Torso		0		0		0
LHip		0		0		0
LThigh		lle3	0		lle2
LLeg		lle4	0		0
LFoot		lle5	0		lle6
LToes		0		0		0
RHip		0		0		0
RThigh		rle3	0		rle2
RLeg		rle4	0		0
RFoot		rle5	0		rle6
RToes		0		0		0
Neck		0		he1		0
Head		he2		0		0
LUpperarm	lae1	lae2	0		
LLowerarm	0		lae4	lae3
LHand		0		0		0
RUpperarm	rae1	rae2	0
RLowerarm	0		rae4	rae3
RHand		0		0		0